_site
public/*
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea

!assets/css/bootstrap/vendor/_rfs.scss
!*/.gitkeep
!*/*/.gitkeep
!*/*/*/.gitkeep
!*/*/*/*/.gitkeep
!*/*/*/*/*/.gitkeep
!*/*/*/*/*/*/.gitkeep
/.well-known/appspecific/com.chrome.devtools.json
