<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow"/>
    <meta charset="utf-8">
    {% seo %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <!--[if IE]>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"><![endif]-->
    <script>
        window.location.protocol === 'http:' && !window.location.hostname.match(/^(localhost|127\.0\.0\.1)$/) && (window.location.href = 'https:' + window.location.href.slice(5));
    </script>
</head>
<body>
<h1 style="display: none">Isis Couto</h1>
<h2 style="display: none">Psicóloga Clínica</h2>
{% include navbar.html %}
<div class="container-limit mt-5 mb-md-2">
    <h3 class="font-1">Artigos</h3>
</div>
<div class="container-limit2 card-banner">
    <div class="row justify-content-center">
        <div class="col-md-12 col-xxl-10">
            <div class="card flex-md-row box-shadow px-md-5 py-md-3">
                <div class="card-body px-4 px-md-5 py-5">
                    <div class="d-inline-block mb-3 text-black-50 fs-7 mb-4">
                        {% assign m = page.date | date: "%-m" %}
                        {{ page.date | date: "%-d de" }}
                        {% case m %}
                        {% when '1' %}Janeiro
                        {% when '2' %}Fevereiro
                        {% when '3' %}Março
                        {% when '4' %}Abril
                        {% when '5' %}Maio
                        {% when '6' %}junho
                        {% when '7' %}Julho
                        {% when '8' %}Agosto
                        {% when '9' %}Setembro
                        {% when '10' %}Outubro
                        {% when '11' %}Novembro
                        {% when '12' %}Dezembro
                        {% endcase %}
                        {{ page.date | date: "de %Y" }}
                        &nbsp;-&nbsp;
                        {% assign wordCount = content | number_of_words | divided_by: 250 %}
                        {% if wordCount < 1 %}
                        {{ 'menos de 1 min para ler' }}
                        {% else %}
                        {{ wordCount }}&nbsp;min para ler
                        {% endif %}
                    </div>
                    <h5 class="card-title font-3 fs-1 mb-3">
                        {{ page.title }}
                    </h5>
                    <p class="text-secondary font-1">
                        {{ page.introduction }}
                    </p>
                    <div class="card-text font-1 mt-4">
                        {{ content }}
                        <br>
                    </div>
                    <div class="card-footer bg-white text-start px-0 m-auto">
                        <small class="text-muted font-1 fs-7">
                            {% for tag in page.tags %}
                            #{{ tag }}&nbsp;
                            {% endfor %}
                        </small>
                        <!--                        <small class="text-muted text-end float-end">-->
                        <!--                            <img src="{{ site.icon_path }}heart.svg" width="18" height="18" alt="Curtir icone"-->
                        <!--                                 title="Curtir!">&nbsp;&nbsp;-->
                        <!--                            <img src="{{ site.icon_path }}share.svg" width="18" height="18" alt="Compartilhar icone"-->
                        <!--                                 title="Compartilhar!">-->
                        <!--                        </small>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-limit2">
    <div class="col-md-12 col-xxl-10 m-auto">
        <h3 class="font-1 fs-6 d-inline-block w-50 float-start text-start">Artigos recentes</h3>
        <h3 class="font-1 fs-6 d-inline-block w-50 float-end text-end">
            <a href="/artigos" title="Ver todos os artigos" class="text-black text-decoration-none link-hover-froly">
                Ver tudo
            </a>
        </h3>
        <div class="row row-cols-1 row-cols-md-3 g-3" style="--bs-gutter-x: 1rem;">
            {% for post in site.posts limit:3 %}
            <div class="col">
                <a class="text-dark text-decoration-none link-hover-froly" href="{{ post.url }}"
                   title="Continuar lendo, {{ post.title }}">
                    <div class="card">
                        <div class="w-100 bg-aluminio d-block image-articles"
                             style="background-image: url('{{ site.post_path  }}{{ post.image }}'); height: 180px; font-size: 0"
                             data-image="{{ site.post_path  }}{{ post.image }}"
                             alt="Thumbnail [autox180] - {{ post.title }}"
                             title="{{ post.title }}">>
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-3">{{ post.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-limit mt-5">
    <div class="col-md-12 col-xxl-10 m-auto">
        {% include disqus.html %}
    </div>
</div>
{% include footer.html %}
</body>
</html>
