<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow"/>
    <meta charset="utf-8">
    {% seo %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <!--[if IE]>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"><![endif]-->
    <script>
        window.location.protocol === 'http:' && !window.location.hostname.match(/^(localhost|127\.0\.0\.1)$/) && (window.location.href = 'https:' + window.location.href.slice(5));
    </script>
</head>
<body>
<h1 style="display: none">Isis Couto</h1>
<h2 style="display: none">Psicóloga Clínica</h2>
{% include navbar.html %}
{{ content }}
{% include footer.html %}
</body>
</html>
